//==========================================================================
// RESET / RESET GLOBAL DEFAULT
//==========================================================================

*,
*:after,
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    font-size: 16px;
    min-width: 240px;
    overflow-x: hidden;
}

// Ul
ul{
    list-style-type: none;
    padding: 0;
}

// Link
a {text-decoration: none;}