//==========================================================================
// VARIAVEIS
// Definição das variavéis do Tema
// Não remover nenhuma das variavéis para evitar crash do SASS
//==========================================================================

//-------------------------------
// GRID
// Define as variáveis da dimensão do projeto
//-------------------------------

//Classe padrão do Container
$global-div: 'container';

//Dimensão do container
$lg-max : 1170px;
$lg-md  : 920px;
$lg-sm  : 768px;
$lg-xs  : 568px;